@media only screen and (min-width: 38rem){
    .place-card {
        grid-template-areas:
            "figure name"
            "figure description"
            "figure address"
            "figure button";
        grid-template-columns: 1fr 2fr;
        gap: 1.5rem;
        align-items: center;
        max-width: 700px;
    }

    .place-img {
        width: 300px;    
        height: auto;
    }

    .welcome-message{
        width: 100%;
    }
}

@media only screen and (min-width: 64rem){
    header, main, nav, footer{
        margin: 0;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    header img {
        width: 100%;
        max-width: 70px;
        height: auto;
        object-fit: contain;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        position: static;
        width: auto;
        max-width: none;
        padding: 0;
        box-shadow: none;
    }

    .navigation ul {
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
    }

    .navigation a {
        padding: 1.5rem 1rem;
        border: none;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .list section {
        display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		padding: 10px;
    }

    footer {
        display: flex;
        justify-content: space-between; 
        align-items: flex-start; 
        gap: 40px; 
        padding: 40px 60px;
        font-family: Arial, sans-serif;
    }

    .contact-info,
    .social,
    .personal-info {
        flex: 1 1 30%; 
        min-width: 250px; 
        display: flex;
        flex-direction: column;
    }

    .contact-info p,
    .social p,
    .personal-info p {
        margin-bottom: 10px;
    }

    .social {
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }

    .menu button {
            padding: 1rem 5rem;
        }

    /* -------- Hero --------- */

    .hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 4rem 2rem;
        gap: 2rem;
    }

    .hero-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .hero-text {
        flex: 1;
        max-width: 500px;
        text-align: left;
    }

    .hero-image {
        flex: 1;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 2rem;
    }

    .hero-image img {
        transform: translateY(20px);
    }

    .hero h1 {
        font-size: 3rem;
    }

    .hero p {
        text-align: left;
        font-size: 1.1rem;
    }

    .weather-content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .weather-icon {
        margin-right: 1rem;
    }

    .weather img {
    width: 250px !important;
    height: 250px !important;
    }

    .weather-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .weather-wrapper{
        flex-direction: row;
        align-items: stretch;
    }

    .weather {
        flex: 1;
        align-items: center;
    }

    .forecast {
        flex: 2;
    }

    #forecast-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .forecast-day {
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    #members {
        display: flex;
        flex-direction: row;
    }

    #events {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .form-page{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    form {
        margin: 2rem auto;
    }

    .membership-card {
        padding: 2rem 6rem;
    }

    .learn-more {
        padding: 1rem 4rem;
    }

    #places {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .place-figure {
        border-radius: 8px;
        transition: filter 0.3s ease;
    }


    .place-figure:hover {
        filter: brightness(1.2) contrast(0.7);
    }
}
